<div style="width: 30%; padding: 6rem">
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nobis
      qui ipsam, voluptas aspernatur itaque.
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nobis
      qui ipsam, voluptas aspernatur itaque.
    </div>
  </div>
</div>
